a, a:visited, a:focus, a:hover {
    text-decoration: none;
}

ul{
  padding:0;
  margin:0;
}

li {
  padding:0;
  margin:0;
  list-style-type:none;
}

header {
  position :fixed;
  top: 0;
  left:auto;
  height:auto;
  width:100%;
  margin:0 auto;
  text-align: center;
  z-index:100;
}

body {
  margin: 0;
  width:100%;
  height:100%;
  background-image:url("images/cotton.jpg");
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

h2 {
  text-align: left;
  position: relative;
  padding: 0.25em 0;
  font-size:28px;
}
h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 180, 22), transparent);
  background: linear-gradient(to right, rgb(230, 180, 22), transparent);
}

.head-wrappar{
  width:1150px;
  margin: 0 auto;
  background-color: white;
  z-index:101;
}

.head-menu {
  height:115px;
  width:1050px;
  background-color:white;
  padding-bottom:10px;
  margin: 0 auto;
}

.head-menu li{
  float:left;
  height:100px;
  line-height:120px;
}

.head-menu-list{
  width:18%;
}


.logo a{
  width:100%;
  display:block;
  height:100%;
}


.head-menu-list a{
  font-size:19px;
  height:100%;
  width:100%;
  text-align:center;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight:bold;
  color:#e6b422;
}

.head-menu-list a {
  position: relative;
  display: inline-block;
  transition: .3s;
}

.head-menu-list a:hover{
  color:#00c9e8;
}

.head-menu-list a::before,
.head-menu-list a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: #00c9e8;
  transition: .3s;
}
.head-menu-list a::before {
  top: 30px;
  left: 0;
}
.head-menu-list a::after {
  bottom: 0;
  right: 0;
}
.head-menu-list a:hover::before,
.head-menu-list a:hover::after {
  width: 100%;
}



.main {
  z-index:1;
  text-align:center;
}

.yohaku{
  height:115px;
}

.main-img {
    line-height: 0;
}

.main-img img{
  width:100%;
  max-width:1150px;
  margin:0 auto;
}

.invite_img2{
  display:none;
}

#stamp-carousel img {
  display: inline-block;
  width:1150px;
}

.foot-logo {
  margin: 0 auto;
  width:1150px;
  height:60px;
  background-color:black;
}

.foot-logo p {
  margin:0;
  text-align: center;
  color:white;
  line-height:60px;
}

h1{
  font-size:40px;
  margin:0;
  padding-top:150px;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight:bold;
  color:#e6b422;
}

/*ここからその他ページ */



.other_main {
  margin:0 auto;
  width:1150px;
  background-image:url("images/other_top.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  height:100%;
}

.greet {
  width:70%;
  margin:100px auto 0 auto;
  text-align: left;
  background-color:white;
}

.greet p{
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size:18px;
}

.other_btm {
  background-image:url("images/other_bottom.png");
  background-size: contain;
  background-repeat: no-repeat;
  height:200px;
}


.schedule {
  width:70%;
  margin:100px auto 0 auto;
  text-align: center;
  background-color:white;
}

.schedule p{
  font-weight:bold;
}

.sche-img {
  margin:0 auto;
  line-height: 0;
}

.sche-img img{
    width:70%;
}

.access {
  width:70%;
  margin:100px auto 0 auto;
  text-align: left;
  background-color:white;
}

.avenue{
  text-align:center;
  font-size:20px;
  font-family:arial;
  margin:0;
}

.access img{
  width:100%;
}

.access iframe {
  width:100%;
  margin:0 auto;
}

.corona {
  width:70%;
  margin:100px auto 0 auto;
  text-align: left;
  background-color:white;
}

.corona li{
  list-style-type:circle;
  margin-left:50px;
}

.midasi{
  float:left;
  width:40%;
  text-align:center;
  font-size:22px;
  font-weight:bold;
  position: relative;
  display: inline-block;
}

.space {
  float:left;
  width:20%;
}

.midasi:before, .midasi:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

.midasi:before {
  left:0px;
}
.midasi:after {
  right: 0px;
}

.f-con {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.f-con li{
  margin-left:40px;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
  width:49.8%;
}

.c2 ,.c4 ,.c6 ,.c8 ,.c10 {
  margin-top:65.44px;
}

.c1, .c3, .c5, .c7, .c9{
  border-right:2px dashed #000;
}

.onegai {
  display:none;
}

.corona_img {
  margin-top:50px;
  text-align: center;
  float:left;
  width:50%;
}

.corona_img img{
  height:200px;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : none;
  position: fixed;
  z-index : 101;
  right : 30px;
  top : 40px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2.3px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}

.globalMenuSp{
  display:none;
}

/* =====================================
fade in関係
 =======================================*/
.fade_in_up {
    animation: fadeInUp 2s linear;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
